.carImage{
    height: 15em;

}
.carItem{
    display: flex;
    border: 1px solid rgb(214, 175, 175);
    margin: 1em;
    padding: 1em;
    border-radius: .5em;
    justify-content: space-between;
}
.label {
    font-weight: bold;
}
.row {
    display: flex;
    max-width: 50rem;
}
.price {
    font-size: large;
    font-weight: bold;

}
.list
{
        gap: 1em;
        display: flex;
        flex-wrap: wrap;
}
.details
{
    margin-left: 1em;
}
.button
{
    height: 2em;
    width: 8em;
}
